@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #0a0e18;
    color: #e6f0ff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: 'Poppins', monospace;
  }
}

